#top-banner {
  text-shadow:1px;
  display:box; 
  background: #274599; 
  padding: 30px;color:#fff;
  background-color:#2E8ECE;
  border-radius: 10px;
  text-shadow: #dcf9fd;
  text-align: center;
  font-size: 30px;
}

body {
  background-color: #dcf9fd;
  font-family: "Gill Sans", sans-serif;
}

h1 {
  text-shadow:0 0 2px #00FFFC,0 0 30px #00FFFC,0px 0px 5px #00FFFC, 0 0 150px #00FFFC;color:#00FFFC;
  background-color:#2E8ECE;
}

h2{
  text-shadow:#e7f6ff 0 -1px 0,
  #333 5px 5px 10px;
  color:#255056;
}

h3{
  text-shadow:#e7f6ff 0 -1px 0,
  #333 5px 5px 10px;
  color:#255056;
}

h4{
  text-decoration: underline;
}

ul {
  list-style-type: circle;
}